.productsList {
    img {
        height: 255px;
    }
}

.productInfo {
    img {
        height: 610px;
    }
}
.cart {
    img {
        height: 80px;
    }
}

.non-cart {
    img {
        height: 600px;
    }
}